* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-undertoned: #592720;
     --color-vivid: #d3573d; /* old #F2542D; */
    --color-light: #F5DFBB;
    --color-medium: #0E9594;
    --color-dark: #127475;


    /* Cible la préférence du navigateur
    @media (prefers-color-scheme: dark) {
        --color-light: #127475;
        --color-medium: #0E9594;
        --color-dark: #F5DFBB;
    } */

}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--color-light);
    display: flex;
    font-family: "OpenSans", Helvetica, sans-serif;


}

h1 {
    font-family: "Gertrude"
}

h2 {
    font-family: "Gertrude"
}

/**----------------- Font ----------------- **/


@font-face {
    font-family: "Gertrude";
    src:
        local("Gertrudek"),
        url("./font/Enby_Gertrude_roman.woff") format("opentype") tech(color-COLRv1),

}

@font-face {
    font-family: "OpenSans";
    src:
        local("OpenSans"),
        url("./font/BBB-OpenSans-Regular.otf") format("opentype") tech(color-COLRv1),

}

@font-face {
    font-family: "Pic Nic";
    src:
        local("Pic Nic"),
        url("./font/PicNic.woff") format("opentype") tech(color-COLRv1),

}


/* Row = 
    axe principal / horizontal justify-content: 
    axe secondaire / vertical : align-items  */


/**----------------- HEADER ----------------- **/

header {
    background-color: var(--color-medium);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2%;

    /* Media queries */
    @media (max-width: 640px) {
        background-color: rgb(193, 255, 24);

    }

}

.s_Logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  
}

.s_Logo img {
      min-height: 80px;
    width: auto;
    ratio : 1/1;

}

.nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1.5rem;
   color: var(--color-light);
    font-size:2rem 
}

/**----------------- MAIN  ----------------- **/
/* Column = 
    axe principal /  vertical --> justify-content: 
    axe secondaire / horizontal --> align-items  */



main {
    flex-grow: 1;
    width: 100vw;
     display: flex;
    flex-direction: column;
}

     /**------------------ Bannière --------------------- */

.containerBanner {
 
    /* border: 2px solid #622df2; */
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40vh; 
}

.containerBanner img {
    min-height: 500px;
}


      /** --------------- Description ----------------------*/
      /* Conteneur des cards textes et illustration */

.containerDescription
    {
    background-color: #faeddc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    min-height: 20vh;
    box-sizing: border-box;


    @media (max-width: 640px) {
        display: flex;
        flex-direction: column;
        padding: 1rem;

    }
}

.containerDescription h1 {
color: var(--color-vivid);
font-size: 6rem;
font-weight: bolder;
}

.containerDescription h2 {
color:var(--color-dark);
font-size: 4rem;
}

.containerDescription p {
color:var(--color-dark)
}

button {
    border-radius: 40px;
    border: none;
    background-color: var(--color-medium);
    padding: 2%;
    margin: 2%;
    color: white;
    font-size: 2rem;
    width: 50%;
   margin-left: 20%;
   margin-right:20%;
}



.cardTxt

/* Conteneur du texte */
    {
    flex: 1;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    gap:2rem;
    /* border: 2px solid #622df2; */
    font-size: 2rem;
    /* Media queries */
    @media (max-width: 640px) {
        max-width: 80%;
        

    }
}

/* Conteneur de l'illustration */
.cardImg
    {
    flex: 1;
    max-width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f3dcbd;
    border-radius: 20px;
    /* border: 2px solid #622df2; */

}

.cardImg_illustation {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: contain;
 

    @media (max-width: 640px) {
        width: 100%;
        aspect-ratio: 1/1;

    }

}

/**----------------- FOOTER ----------------- **/
footer {

    background-color: var(--color-vivid);
    padding: 1rem 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    color: var(--color-light);
    font-size: 1.5rem;
   
    /* flex-grow: 1; */
}

.containerCopyright {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

.containerRS {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1%;
    margin-left: 2%;
    margin-right: 2%;
    gap: 1rem;
}

i {
    color: var(--color-light);
    font-size: 2rem
}

i:hover {
    /* border: 1px solid rgba(243, 240, 240, 0.24); */
    backdrop-filter: blur(20px);
    transform: rotate(+5deg);
}